<!doctype html>
<title>CT economy plot</title>

<h3>CT buy level by rounds</h3>

<img class="image" src="{{ image }}" style="width: 800px; display: block; margin: -20px auto 20px;"/>


<!-- for gcp -->
<ul>
    <li><a href="http://35.232.112.240:8000">Check another demo</a></li>
    <li><a href="http://35.232.112.240:8000/demo_ct_side">Check this demo for CT side</a></li>
    <li><a href="http://35.232.112.240:8000/demo_t_side">Check this demo for T side</a></li>
    <li><a href="http://35.232.112.240:8000/demo_team_one">Check this demo for Team 1</a></li>
    <li><a href="http://35.232.112.240:8000/demo_team_two">Check this demo for Team 2</a></li>
    <li><a href="http://35.232.112.240:8000/demo_by_roundss">Check demo by rounds</a></li>
    <li><a href="http://35.232.112.240:8000/t_economy">Check T buy level by rounds</a></li>
</ul>

<!-- <ul>
    <li><a href="http://127.0.0.1:5000">Check another demo</a></li>
    <li><a href="http://127.0.0.1:5000/demo_ct_side">Check this demo for CT side</a></li>
    <li><a href="http://127.0.0.1:5000/demo_t_side">Check this demo for T side</a></li>
    <li><a href="http://127.0.0.1:5000/demo_team_one">Check this demo for Team 1</a></li>
    <li><a href="http://127.0.0.1:5000/demo_team_two">Check this demo for Team 2</a></li>
    <li><a href="http://127.0.0.1:5000/demo_by_roundss">Check demo by rounds</a></li>
    <li><a href="http://127.0.0.1:5000/t_economy">Check T buy level by rounds</a></li>
</ul> -->